{
    "printWidth": 120,
    "tabWidth": 2,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "singleQuote": false
            }
        }
    ]
  }
