{
    "plugins": [
      "@prettier/plugin-php",
      "prettier-plugin-css-order",
      "@ianvs/prettier-plugin-sort-imports",
      "prettier-plugin-organize-attributes"
    ],
    "printWidth": 120,
    "tabWidth": 2,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
      {
        "files": ["*.yml", "*.yaml"],
        "options": {
          "singleQuote": false
        }
      },
      {
        "files": ["*.php"],
        "options": {
          "tabWidth": 4
        }
      },
      {
        "files": ["*.json"],
        "options": {
          "tabWidth": 4
        }
      },
      {
        "files": "*.ss",
        "options": {
          "parser": "html",
          "tabWidth": 2,
          "singleQuote": false
        }
      }
    ]
  }
  